{% extends 'home.html' %}

{% block content %}

  <div class="container">

    <p>
      <a href="news.html" class="back-to">See all news</a>
    </p>

    <div class="row">
      <div class="col-sm-9">
        <div class="news-detail-header">
          <h1>{{ article.title }}</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <div class="news-detail">

          {{ article.content }}

        </div>
      </div>

      {#
      <div class="col-sm-3">
        <div class="news-detail-sidebar">
          <h2>Spread the Word</h2>
          <ul class="contact-social stacked">
            <li class="contact-twitter"><a href="#">Post link on Twitter</a></li>
            <li class="contact-facebook"><a href="#">Share on Facebook</a></li>
            <li class="contact-linkedin"><a href="#">Discuss on LinkedIn</a></li>
          </ul>
        </div>
      </div>
      #}
    </div>

    <div class="news-detail-break"></div>
  </div>

  {#
  <section class="news-items">
    <div class="container">
      <p class="text-right"><a href="#" class="see-all">See all news</a></p>
      <div class="row">
        <div class="col-sm-6">
          <div class="news-item tagged">
            <h4><a href="#">Next news item.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="news-item">
            <h4><a href="#">Other news item after that.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  #}

  <div class="push"></div>

{% endblock %}
