{% extends 'home.html' %}

{% block content %}

    <div class="container">

      <div class="page-header">
        <h1 class="text-center">En tibi norma Poli, & divæ libramina Molis</h1>
      </div>

      <section class="news-items news-items-trans">
        <div class="container">
          <div class="row">
          {% for article in articles %}
            <div class="col-sm-6">
              <div class="news-item tagged">
                <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
                <p>{{ article.summary }}</p>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </section>

      <div class="news-break"></div>

      <section class="related-news">
        <h2>Other Related News</h2>
        <ul>
          <li><a href="#">Aer duplo densior in duplo spatio quadruplus est. Idem intellige de Nive et Pulveribus per compressionem vel liquefactionem condensatis</a></li>
          <li><a href="#">Et par est ratio corporum omnium, quæ per causas quascunq; diversimode condensantur </a></li>
          <li><a href="#">Medii interea, si quod fuerit, interstitia partium libere pervadentis, hic nullam rationem habeo.</a></li>
          <li><a href="#">Hanc autem quantitatem sub nomine corporis vel Massæ</a></li>
        </ul>
      </section>
    </div>
    <div class="push"></div>
  </div> <!-- /wrapper -->

{% endblock %}
