{% extends 'home.html' %}

{% block content %}

    <div class="container">

      <div class="page-header">
        <h1 class="text-center">En tibi norma Poli, & divæ libramina Molis</h1>
      </div>

      <section class="news-items news-items-trans">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="news-item tagged">
                <h4><a href="news-detail">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</a></h4>
                <p>Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="news-item">
                <h4><a href="news-detail">Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</a></h4>
                <p>Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="news-item">
                <h4><a href="news-detail">Computus atque Jovis preasent commodo cursus magna, vel scelerisque nisl consectetur et</a></h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="news-item">
                <h4><a href="news-detail">Hactenus Astronomo numerorum fræna recuset lipsum dolor sit amet</a></h4>
                <p>Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros sociis natoque penatibus et magnis.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="news-item">
                <h4><a href="news-detail">Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</a></h4>
                <p>Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="news-item tagged">
                <h4><a href="news-detail">Sociis natoque penatibus et dis parturient montes, nascetur ridiculus</a></h4>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="news-break"></div>

      <section class="related-news">
        <h2>Other Related News</h2>
        <ul>
          <li><a href="#">Aer duplo densior in duplo spatio quadruplus est. Idem intellige de Nive et Pulveribus per compressionem vel liquefactionem condensatis</a></li>
          <li><a href="#">Et par est ratio corporum omnium, quæ per causas quascunq; diversimode condensantur </a></li>
          <li><a href="#">Medii interea, si quod fuerit, interstitia partium libere pervadentis, hic nullam rationem habeo.</a></li>
          <li><a href="#">Hanc autem quantitatem sub nomine corporis vel Massæ</a></li>
        </ul>
      </section>
    </div>
    <div class="push"></div>
  </div> <!-- /wrapper -->

{% endblock %}
