{% extends 'home.html' %}

{% block content %}

    <div class="container">

      <div class="page-header">
        <h1 class="text-center">News and Announcements</h1>
      </div>

      <section class="news-items news-items-trans">
        <div class="container">
          <div class="row">
          {% for article in articles %}
            <div class="col-12">
              <div class="news-item tagged">
                <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
                <p>{{ article.summary }}</p>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </section>

      <div class="news-break"></div>

    </div>
    <div class="push"></div>
  </div> <!-- /wrapper -->

{% endblock %}
